RFC3164 (BSD) parser error when space in TAG (program) field

# syslog-ng

## Version of syslog-ng

```
syslog-ng 3.7.3
Installer-Version: 3.7.3
Revision:
Available-Modules: pseudofile,cryptofuncs,afsql,confgen,afuser,afprog,linux-kmsg-format,syslogformat,json-plugin,afsocket,affile,graphite,dbparser,system-source,basicfuncs,kvformat,csvparser
Enable-Debug: off
Enable-GProf: off
Enable-Memtrace: off
Enable-IPv6: on
Enable-Spoof-Source: off
Enable-TCP-Wrapper: off
Enable-Linux-Caps: on
```

## Platform

Synology DSM 6.1.2-15132
Log Center 1.1.00-0118

# Issue

## Failure

When receiving a remote log message and parsing it using the RFC3164/BSD parser, fields are incorrectly assigned if the TAG (program) field contains a space.
The first "word" of the tag field ends up overriding the hostname.
According to [section 4.1.3 of RFC3164](https://tools.ietf.org/html/rfc3164#section-4.1.3):
```
   The TAG is a string of ABNF alphanumeric characters that MUST NOT exceed 32 characters.  Any
   non-alphanumeric character will terminate the TAG field and will be
   assumed to be the starting character of the CONTENT field.  Most
   commonly, the first character of the CONTENT field that signifies the
   conclusion of the TAG field has been seen to be the left square
   bracket character ("["), a colon character (":"), or a space
   character.  This is explained in more detail in Section 5.3.
```
While including a space in the TAG is erroneous (opening separate issue on source for that), the parser should at least not override previous fields and instead start the message content when the space is encountered.

## Steps to reproduce

1. start syslog-ng, configure BSD input parser
2. Send syslog containing a space in program/tag field. In my case an Asus router with [AsusWRT-merlin firmware](https://github.com/RMerl/asuswrt-merlin/).


The rfc3164 parser contains 19 years of heuristics which I'd prefer not to
change as it will break other things.

You can work around this by using the bad-hostname() option where you can
specify the incorrectly parsed hostname as a regexp. This would push the
rest of the message to the appropriate fields.

On Jul 8, 2017 03:26, "Mathieu Hofman" <notifications@github.com> wrote:

> syslog-ng Version of syslog-ng
>
> syslog-ng 3.7.3
> Installer-Version: 3.7.3
> Revision:
> Available-Modules: pseudofile,cryptofuncs,afsql,confgen,afuser,afprog,linux-kmsg-format,syslogformat,json-plugin,afsocket,affile,graphite,dbparser,system-source,basicfuncs,kvformat,csvparser
> Enable-Debug: off
> Enable-GProf: off
> Enable-Memtrace: off
> Enable-IPv6: on
> Enable-Spoof-Source: off
> Enable-TCP-Wrapper: off
> Enable-Linux-Caps: on
>
> Platform
>
> Synology DSM 6.1.2-15132
> Log Center 1.1.00-0118
> Issue Failure
>
> When receiving a remote log message and parsing it using the RFC3164/BSD
> parser, fields are incorrectly assigned if the TAG (program) field contains
> a space.
> The first "word" of the tag field ends up overriding the hostname.
> According to section 4.1.3 of RFC3164
> <https://tools.ietf.org/html/rfc3164#section-4.1.3>:
>
>    The TAG is a string of ABNF alphanumeric characters that MUST NOT exceed 32 characters.  Any
>    non-alphanumeric character will terminate the TAG field and will be
>    assumed to be the starting character of the CONTENT field.  Most
>    commonly, the first character of the CONTENT field that signifies the
>    conclusion of the TAG field has been seen to be the left square
>    bracket character ("["), a colon character (":"), or a space
>    character.  This is explained in more detail in Section 5.3.
>
> While including a space in the TAG is erroneous (opening separate issue on
> source for that), the parser should at least not override previous fields
> and instead start the message content when the space is encountered.
> Steps to reproduce
>
>    1. start syslog-ng, configure BSD input parser
>    2. Send syslog containing a space in program/tag field. In my case an
>    Asus router with AsusWRT-merlin firmware
>    <https://github.com/RMerl/asuswrt-merlin/>.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/balabit/syslog-ng/issues/1591>, or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AArldiudrw-dsr5MF3XIgGtfGM6KnEmwks5sLtrNgaJpZM4ORlcp>
> .
>


After further investigation, it looks like Busybox's syslogd doesn't add the hostname field to remote messages, which is why syslog-ng is considering spaces in tag as the hostname.
This is definitely not a bug in the rfc3164 parser.

I know this isn't the right place for this question, but since we're here, I'm wondering if someone can tell me how to configure syslog-ng to parse these log messages. In my case, I don't have direct access to the syslog-ng config, but I can provide a custom parsing rule in text form ([Documentation](https://www.synology.com/en-global/knowledgebase/DSM/help/LogCenter/logcenter_server)). Any pointers on what a rule would look like to parse the raw syslog message (`<PRIO> TIMESTAMP TAG: MSG` where TAG is either a free form text sometimes with spaces, or the normal `appname[pid]`)?

If this is a recent enough syslog-ng there's a flag on the tcp/udp source
called no-expect-hostname

E.g. tcp(flags (no-expect-hostname)).

On Jul 12, 2017 00:23, "Mathieu Hofman" <notifications@github.com> wrote:

> After further investigation, it looks like Busybox's syslogd doesn't add
> the hostname field to remote messages, which is why syslog-ng is
> considering spaces in tag as the hostname.
> This is definitely not a bug in the rfc3164 parser.
>
> I know this isn't the right place for this question, but since we're here,
> I'm wondering if someone can tell me how to configure syslog-ng to parse
> these log messages. In my case, I don't have direct access to the syslog-ng
> config, but I can provide a custom parsing rule in text form (
> Documentation
> <https://www.synology.com/en-global/knowledgebase/DSM/help/LogCenter/logcenter_server>).
> Any pointers on what a rule would look like to parse the raw syslog message
> (<PRIO> TIMESTAMP TAG: MSG where TAG is either a free form text sometimes
> with spaces, or the normal appname[pid])?
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/balabit/syslog-ng/issues/1591#issuecomment-314589403>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AArldo5p0rhNpCVlNbF8Z_SNRGzvTXuIks5sM_XpgaJpZM4ORlcp>
> .
>


The no-hostname on the source was a good start, but as expected it pushed part of the tag into the message. After some trial and error, I ended up finding a way to fix the bad program name.

Here is my config if it ends up helping anyone:

```
filter bad_program {
        not match(": $" value("MSGHDR")) and match("^([^:]*): *((?:.|\n)*)$" flags(store-matches) value("MESSAGE"));
};

rewrite rewrite_program {
        subst(' ', '_', value("1"), flags(global));
        set("${PROGRAM}_$1", value("PROGRAM"));
        set("$2", value("MESSAGE"));
};

source net {
        network(
                ip("0.0.0.0")
                transport("udp")
                port(514)
                flags(no-hostname)
        );
};

source fixed_net {
        channel {
                source(net);
                junction {
                        channel { filter(bad_program); rewrite(rewrite_program); flags(final); };
                        channel { };
                };
        };
};
```
Basically if the original message header doesn't end with `: ` and the message contains a `:`, take the first part of the message and append it to program (replacing spaces with underscores) and keep only the second part in the message. I guess I could have implemented a new parser but it seemed a bit too much.
If anyone has another suggestion on how to only rewrite messages with erroneous tags without the funky junction and empty channel, I'm all ears. I wanted to avoid running the match filter unnecessarily.

@mhofman glad you read you sorted it out. For now there is no other way in syslog-ng to handle such scenarios other than bad-hostname or a rewrite rule. The empty channel is indeed strange looking, but cannot be eliminated, otherwise the non-matching messages would be dropped altogether. Unless the offending messages cannot be sent to separate sources by the message-generating devices, the configuration above is the best. 
I close this ticket now.

You could encapsulate that funky junction stuff into a parser of its own,
then your runtime config would be simplerx and the complex stuff would be
hidden.

On Jul 13, 2017 04:02, "Mathieu Hofman" <notifications@github.com> wrote:

> The no-hostname on the source was a good start, but as expected it pushed
> part of the tag into the message. After some trial and error, I ended up
> finding a way to fix the bad program name.
>
> Here is my config if it ends up helping anyone:
>
> filter bad_program {
>         not match(": $" value("MSGHDR")) and match("^([^:]*): *((?:.|\n)*)$" flags(store-matches) value("MESSAGE"));
> };
>
> rewrite rewrite_program {
>         subst(' ', '_', value("1"), flags(global));
>         set("${PROGRAM}_$1", value("PROGRAM"));
>         set("$2", value("MESSAGE"));
> };
>
> source net {
>         network(
>                 ip("0.0.0.0")
>                 transport("udp")
>                 port(514)
>                 flags(no-hostname)
>         );
> };
>
> source fixed_net {
>         channel {
>                 source(net);
>                 junction {
>                         channel { filter(bad_program); rewrite(rewrite_program); flags(final); };
>                         channel { };
>                 };
>         };
> };
>
> Basically if the original message header doesn't end with : and the
> message contains a :, take the first part of the message and append it to
> program (replacing spaces with underscores) and keep only the second part
> in the message. I guess I could have implemented a new parser but it seemed
> a bit too much.
> If anyone has another suggestion on how to only rewrite messages with
> erroneous tags without the funky junction and empty channel, I'm all ears.
> I wanted to avoid running the match filter unnecessarily.
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/balabit/syslog-ng/issues/1591#issuecomment-314948573>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AArlduUFVpjlAS_NT0uNfpYnLKZtBjhzks5sNXqugaJpZM4ORlcp>
> .
>
