Any plans to support RFC 3195 (Reliable Delivery for syslog)?

As far as I see syslog-ng supports messages only according to RFC3164/RFC5424. We would have a strong demand to get support for RFC3195 protocol. Are there any plans to support this in future releases?

Do do know any possibility or workaround to process such messages?

Best Regards




What device sends these messages? I never saw rfc3195 implemented anywhere.

On Jan 20, 2017 15:33, "Wernfried" <notifications@github.com> wrote:

> As far as I see syslog-ng supports messages only according to
> RFC3164/RFC5424. We would have a strong demand to get support for RFC3195
> protocol. Are there any plans to support this in future releases?
>
> Do do know any possibility or workaround to process such messages?
>
> Best Regards
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/balabit/syslog-ng/issues/1325>, or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AArldn-BA5fo9ZQ4ivhXT5ewxBhr8ikQks5rUMW8gaJpZM4LpXYo>
> .
>


The logs are coming from a Fortinet Firewall: 
https://www.fortinet.com/products/firewalls/firewall/fortigate-high-end.html

They also support UDP RFC3164 but for legal requirements we are looking for reliable transmission of log messages. 


Hi,

I don't think it would be implemented in the near future, sorry. RFC3195
never really took of and is a rather complicated beast, and honestly this
is the first time I have heard about a device that supports it.

-- 
Bazsi

On Fri, Jan 20, 2017 at 11:52 PM, Wernfried <notifications@github.com>
wrote:

> The logs are coming from a Fortinet Firewall:
> https://www.fortinet.com/products/firewalls/firewall/
> fortigate-high-end.html
>
> They also support UDP RFC3164 but for legal requirements we are looking
> for reliable transmission of log messages.
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/balabit/syslog-ng/issues/1325#issuecomment-274201384>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AArldmiuxD4SICFGFxK5nLjry4VTwo1oks5rUTqvgaJpZM4LpXYo>
> .
>


This does not seem to be a priority right now. RFC3195 didn't take off and there might be devices doing it, but I doubt I would have the resources to implement it.

Should anyone want to do that, I am open for integrating it though.